#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Hogwarts SteamDeck Fix
Comment=Updates the GRUB configuration and reboots the system
Exec=curl https://raw.githubusercontent.com/pdx-rico/hogwarts-steamdeck-fix/main/grub_update.sh | pkexec bash -s --
Terminal=true
Type=Application